@import "tailwindcss";

:root {
  --background: #1a1721;
  --foreground: #171717;
  --darkPurpleBackground: #1a1721;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-darkPurpleBackground: var(--darkPurpleBackground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #1a1721;
}

img:nth-child(1) {
  grid-area: 1/1/6/8;
}

img:nth-child(2) {
  grid-area: 3/12/8/20;
}

img:nth-child(3) {
  grid-area: 9/5/13/15;
}

img:nth-child(4) {
  grid-area: 14/1/18/8;
}

img:nth-child(5) {
  grid-area: 16/12/20/19;
}

img:nth-child(6) {
  grid-area: 20/2/25/9;
}

img:nth-child(7) {
  grid-area: 22/11/24/20;
}

img:nth-child(8) {
  grid-area: 27/5/30/15;
}
